*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --heartSz: 100px;
}

body{
    background-color: grey;
}

.heart,
.heart::before,
.heart::after{
    width: var(--heartSz);
    height: calc(var(--heartSz)*1.8);
    background-color: red;
}

.heart{
    position: absolute;
    top: calc((100vh - var(--heartSz))/2);
    left: calc((100vw - var(--heartSz))/2);
    background-color: grey;
}

.heart::before,
.heart::after{
  position: absolute;
  content: '';
  top: 0;
}

.heart::before{
    transform: rotate(-45deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 40%;
}

.heart::after{
    left: 56px;
    transform: rotate(45deg);
    border-top-left-radius: 40%;
    border-top-right-radius: 50%;
}